.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

#shake {
  animation: shake 0.5s; /* You can adjust the animation duration */
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px); /* Adjust the amount of shake */
  }
  20%, 80% {
    transform: translateX(5px); /* Adjust the amount of shake */
  }
  30%, 50%, 70% {
    transform: translateX(-3px); /* Adjust the amount of shake */
  }
  40%, 60% {
    transform: translateX(3px); /* Adjust the amount of shake */
  }
  100% {
    transform: translateX(0);
  }
}


.modalh1{
  font-size: 50px;
}

.modalp{
  font-size: 25px;
}

.disclaimer{
  color: red;
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}

.dtext
{
  color: white;
  font-size: 16px;
}

.button {
  background-color: transparent; 
  color: white; 
  border: 2px solid darkgray; 
  border-radius: 30px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  animation: buttonPulse 1.75s infinite alternate; 
}

.button:hover {
  opacity: 1; 
  background-color: #528d4e; 
  animation: none; 
}

@keyframes buttonPulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.05; 
  }
}

body {
  padding: 0%;
  margin: 0;
  background-color: #121212;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-items: center;
}

nav h2 {
  margin: 0;
  font-family: serif	;
  color: white;
  font-size: 40px;
  flex-grow: 1; 
  text-align: center;
}

.help-wrapper {
  margin-right: 10px;
  padding: 10px;
  font-size: 32px;
  width: 1.5vw;
  
}



.game {
  width: 100vw;
  /* height: calc(100vh - 170px); */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  /* border: 0.25px solid grey; */
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}


.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: -0.5px 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 700px;
  /* height: 300px; */
  /* position: fixed; */
  bottom: 0;
  margin-top: 20px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 80px;
  font-size: 17px;
}
#disabled {
  background-color: #3a393c;
}

#rowHidden {
  visibility: visible;
  animation: hideRow 3.5s ease 1 forwards;
}

h3{
  font-size: 30px;
}

@keyframes hideRow {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

/* Add this media query for screens with a maximum width of 600px (adjust as needed) */
@media (max-width: 700px) {
  .board {
    width: 90%; /* Adjust the board width for smaller screens */
    height: auto; /* Allow the board height to adjust based on content */
  }

  .modalh1{
    font-size: 30px;
  }

  .modalp{
    font-size: 20px;
  }

  .disclaimer{
    font-size: 14px;
  }
  
  .dtext
  {
    font-size: 14px;
  }

  nav h2{
    font-size: 35px;
  }

  .help-wrapper{
    margin-right: 5px;
    padding: 5px;
    width: 5vw;
  }

  .row {
    flex-direction: row; /* Ensure rows remain horizontal on smaller screens */
    margin: 5px 0; /* Adjust margin between rows for smaller screens */
  }

  .letter {
    flex: 20%; /* Make each letter span 20% of the row width on smaller screens */
    height: 50px; /* Adjust letter height for smaller screens */
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .keyboard {
    width: 90%; /* Adjust the keyboard width for smaller screens */
    height: 200px; /* Allow the keyboard height to adjust based on content */
    /* margin-top: 10vh; */
  }

  .game {
    height: auto; /* Allow the height to adjust based on content */
    max-height: calc(100vh - 60px - 200px); /* Adjust the max-height to fit your design */
  }

  .line1,
  .line2,
  .line3 {
    flex-direction: row; /* Ensure keyboard lines are horizontal on smaller screens */
    justify-content: space-between; /* Distribute keys evenly within lines */
    margin: 5px 0; /* Adjust margin between lines for smaller screens */
  }

  .key {
    width: 65px; /* Adjust key width for smaller screens */
    height: 60px; /* Adjust key height for smaller screens */
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  #big {
    width: 25%; /* Adjust the width of big keys for smaller screens */
    font-size: 8px; /* Adjust font size for smaller screens */
  }

  h3{
    font-size: 20px;
  }
}


